<div class="max-w-6xl mx-auto px-4">
  <div class="flex flex-row justify-between items-center h-20">
    <div class="flex flex-row items-center gap-x-1.5 text-xl">
      <i class="fa-solid fa-cloud"></i>
      <div class="title">pet management 3000</div>
    </div>

    <div class="flex flex-row">
      <input
        type="text"
        placeholder="City"
        class="w-full py-2 pl-10 pr-4 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
        [(ngModel)]="petInputName"
      />
      <button
        class="border-2 border-solid rounded-md px-3 py-2"
        (click)="onAddPetClick()"
      >
        <p>Add pet</p>
      </button>
    </div>
  </div>
</div>

<div class="max-w-6xl mx-auto px-4 h-24">
  <div class="flex flex-row gap-5">
    <div class="flex flex-col w-1/3">
      Listed
      <div class="flex flex-col">
        <div *ngFor="let pet of getListedPets()">
          {{ pet.name }}
          <button
            class="border-2 border-solid rounded-md px-3 py-2"
            (click)="promotePet(pet, VET_STATUS.EXAMINING)"
          >
            next
          </button>
        </div>
      </div>
    </div>

    <div class="flex flex-col w-1/3">
      Examining
      <div class="flex flex-col">
        <div *ngFor="let pet of getExaminedPets()">
          {{ pet.name }}
          <button
            class="border-2 border-solid rounded-md px-3 py-2"
            (click)="promotePet(pet, VET_STATUS.FINALLY_BACK_TO_HOOMAN)"
          >
            next
          </button>
        </div>
      </div>
    </div>

    <div class="flex flex-col w-1/3">
      Finally Back to Hooman
      <div class="flex flex-col">
        <div *ngFor="let pet of getBackPets()">
          {{ pet.name }}
        </div>
      </div>
    </div>
  </div>
</div>
